<div class="form-group">
    <label for="length" class="col-sm-2 control-label">Length</label>
    <div class="col-sm-10">
        <input type="text" ng-model="product.length" class="form-control" id="length" placeholder="Product Title Here"/>
    </div>
</div>
<div class="form-group">
    <label for="width" class="col-sm-2 control-label">Width</label>
    <div class="col-sm-10">
        <input type="text" ng-model="product.width" class="form-control" id="width" placeholder="Width?"/>
    </div>
</div>
<div class="form-group">
    <label for="height" class="col-sm-2 control-label">Height</label>
    <div class="col-sm-10">
        <input type="text" ng-model="product.height" class="form-control" id="height" placeholder="height?"/>
    </div>
</div>

<div class="form-group">
    <label for="weight" class="col-sm-2 control-label">Product Weight</label>
    <div class="col-sm-10">
        <input type="text" ng-model="product.weight" class="form-control" id="weight" placeholder="Weight here"/>
    </div>
</div>

<div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
        <input type="submit" class="btn btn-primary" value="Save"/>
    </div>
</div>